* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: none;
}
.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
.g-15 {
  gap: 15px;
}
.g-20 {
  gap: 20px;
}
.g-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease-in;
}
.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}
.card-wrapper {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #0000001a;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* header starts here  */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: var(--color-3b4149);
}
.header-upper {
  background-color: var(--color-3b4149);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate(0px, 57px) !important;
}
.header-bottom .dropdown .dropdown-item {
  padding: 10px 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/* headers ends here  */

/* footer starts here */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  font-weight: 400;
  padding: 8px 17px;
}
/* footer ends here  */

/* hoem starts here  */
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-bf480);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  margin: 0 0 12px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 25%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-bf480);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  margin: 0 0 12px;
  letter-spacing: -2px;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

/* home wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* home wrapper 2 ends here*/

/* categoris  */
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* categoris ends here  */

/* blog card  */
.blog-card {
  background-color: #fff;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--color-777777);
}
.blog-content .title {
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
/* blog card ends here  */

/* product card  */
.product-card{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  width: 100%;
}
/* .product-card .product-image{
  height: 270px;
}
.product-card .product-image img{
  object-fit: contain;
} */
.wishlist-icon{
  position: absolute;
  top: 2%;
  right: 5%;
}
.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details h5{
  color:var(--color-1c1c1b);
  font-size: 15px;
}
.product-card .product-details p.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.desc{
  font-size: 16px;
  color: var(--color-1c1c1b);
  margin-right: 50px;
}
.action-bar{
  top: 10%;
  right: -30px;
}
.product-card:hover .action-bar{
  right: 5%;
  transition: 0.5s;
}
/* product card ends here  */

/* special product  */
.special-product-card{
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
/* special products ends here  */

/* famous card  */

/* famous card ends here  */

.famous-card .card-content{
  top: 10%;
  left: 10%;
}
.famous-card img{
  border-radius: 10px;
}
.famous-card .card-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 7px;
}
.famous-card .card-content h6{
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: #fff;
}
.famous-card .card-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: #fff;
}
/* home ends here */
.filter-card{
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.filter-card .filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label{
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 25px;
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}
.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.colors{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}
.random-product-card h5{
  font-size: 13px;
  margin-bottom: 8px;
}
.filter-sort-grid{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.filter-sort-grid .filter-left-container p{
  width: 100px !important;
}
.filter-sort-grid .filter-left-container select:focus{
  box-shadow: none;
}
.grid img{
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12{
  width: 100%;
}
.gr-6{
  width: 49%;
}
.gr-4{
  width: 32%;
}
.gr-3{
  width: 24%;
}
.gr-3 .product-card .product-image img{
  width: 100%;
}
.gr-6 .product-card .product-image img{
  margin: auto;
  display: block;
}
.gr-12 .product-card{
  display: flex;
  align-items: flex-start;
  height: auto;
}
.gr-12 .action-bar{
  top: 15%;
}
/* page our store  */

/* page our store ends here */

/* contact page starts here */
.contact-form-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fff;
  gap: 15px;
}
.contact-form-wrapper > div{
  width: 48%;
}
.contact-form-wrapper .contact-title{
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
  text-align: left;
  margin-top: 0;
}
.contact-form-wrapper .form-control{
  padding: 10px;
  background-color: var(--color-f5f5f7);
  border: transparent;
}
.contact-form-wrapper .form-control:focus{
border: transparent;
}
.contact-form-wrapper ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.contact-form-wrapper ul address,
.contact-form-wrapper ul a,
.contact-form-wrapper ul p{
    color: var(--color-777777)
}
/* contact page ends here */

/* compare product page starts here */
.compare-product-card{
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
}
.compare-product-card .cross-icon{
  width: 15px;
  position: absolute;
  right: 7%;
  top: 3%;
}
.compare-product-details h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.compare-product-card .product-detail h5{
   font-size: 15px;
   line-height: 22px;
   margin-bottom: 0;
}
/* compare product page ends here */
